*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Soft-blue:hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 375px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-BG);
}
main{
    width: 327px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--card-BG);
}
.container_img{
    position: relative;
    margin-bottom: 10px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    background-image: url("../images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container_img:active::after{
    content: "";
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-size: cover;  
}
.container_img:active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--Cyan);
    opacity: 0.5;
}




.main__info{
    margin-bottom: 15px;
    border-bottom: 1px solid var(--line);
}
.main__info--title{
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--White);
    cursor: pointer;
}
.main__info--title:active{
    color: var(--Cyan);
}
.main__info--description{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--Soft-blue);
}
.main__info--details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style: none;
}
.price{
    color: var(--Cyan);
}
.price::before{
    content: url("../images/icon-ethereum.svg");
    margin-right: 5px;
    position: relative;
    width: 11px;
    height: 18px;
}
.price__time{
    color: var(--Soft-blue);
}
.price__time::before{
    content: url("../images/icon-clock.svg");
    margin-right: 5px;
    width: 17px;
    height: 17px;
}
.price, .price__time{
    display: flex;
    align-items: center;
}



footer{
    display: flex;
    align-items: center;
}
.footer_avatar{
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--White);
}
.footer_creator-name{
    color: var(--Soft-blue);
}
.footer_creator-name span{
    color: var(--White);
    cursor: pointer;
}
.footer_creator-name span:active{
    color:var(--Cyan)
}